
.login-header{
    height:64px;
    line-height:64px;
}
.login-content{
    background-image: url("./login-bk.jpg");
    /*background-repeat: repeat;*/
    /*background-position: center center;*/
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-size:cover;

    /*background-size:100% 99.99%;*/
}
.login-footer{
    height:64px;
    line-height:64px;
    text-align: center;
}

.login-form {
    background-color: #F0F2F5;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    height: 270px;
    position: absolute;
    right: 150px;
    background-color: rgba(49,88,116,.8);
    /*background-color: rgba(0,0,0,.7);*/
    /*background-color: rgba(255,255,255,1);*/
    /*opacity: 0.3;*/
}